:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
html, body { width: 100%; height: 100%;}
html, body, main, .container {
  display:flex; align-items:center; justify-content: center; flex-direction: column;
}
body {
  overflow-x: hidden;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  background-color: var(--very-dark-blue);
}
main {
  width: 100vw; height: 100vh;
}
.container {
  width: 100%; height: 90%;
  max-width: 375px;
  padding:1rem;
}
.rating-bloc, .thanks {
  width: 100%; height:auto;
  padding: 2rem 2rem;
  display:flex; justify-content: space-around; flex-direction: column;
  border-radius:20px;
  background-color: var(--dark-blue);
}
.title, .submit-btn {
  color: var(--white);
}
.icon-star, .rating-value, .bubble {
  width: 2.5rem; height: 2.5rem;
  background-color: #2d3845;
  border-radius: 1.25rem;
  color: var(--light-grey);
}
.icon-star {
  position: relative;
}
.icon-star img {
  width: 0.9rem;
  position:absolute;
  top:0.8rem; left: 0.8rem;
}
.title {
  display: flex; align-items: center;
  height:4rem;
  font-weight: 400;
}
.paragraph, .thank-paragraph {
  width: 100%; height:auto;
  line-height: 1.3rem;
  color: var(--medium-grey);
  font-weight: 400;
}
.selector {
  width: 100%; height: 5rem;
  display: flex; align-items: center; justify-content: space-between;
}
.rating-value {
  display: flex; align-items: center; justify-content: center;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.rating-value:hover {
  background-color: var(--medium-grey);
  color: var(--white);
}
.submit-btn {
  width: 100%; height: 2.5rem;
  border:none;
  border-radius: 2.5rem;
  background-color: var(--orange);
  letter-spacing: .2rem;
  transition: all 250ms ease-in-out;
}
.submit-btn:hover {
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}
.attribution { 
  font-size: 11px; text-align: center;
  color:var(--white);
 }
.attribution a { color: var(--orange); }

.active {
  background-color: var(--orange);
  color: var(--white);
}
.thanks {
  display: none;
  justify-content: center; align-items: center;
  text-align: center;
  font-weight: 700;
}
.storage-value {
  margin: 0 0.3rem 0 0.3rem;
}
.thank-you {
  height: 4rem;
}
.bubble {
  width: 70%; height: auto; min-height: 2rem;
  display:flex; align-items: center; justify-content: center; flex-wrap: wrap;
  border-radius: 1.25;
  color: var(--orange);
  background-color: #2d3845;
  margin: 4rem 0 1rem 0; padding: 0.5em;
  text-align: center;
}
.thank-paragraph {
  text-align: center;
}

